@model WebApplication2.Models.ProjectAddEditViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Nisarg</h2>

<div class="form-group">
    @Html.LabelFor(m => m.Project.CustomerName)
    @Html.TextBoxFor(m => m.Project.CustomerName)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.ProjectName)
    @Html.TextBoxFor(m => m.Project.ProjectName)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.ProjectId)
    @Html.TextBoxFor(m => m.Project.ProjectId)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.StartDate)
    @Html.EditorFor(m => m.Project.StartDate, "{DD/MM/YYYY}")
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.EndDate)
    @Html.EditorFor(m => m.Project.EndDate, "{DD/MM/YYYY}")
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.ProjectStatus)
    @Html.DropDownListFor(m => m.Project.ProjectStatus, new SelectList(Model.ProjectSta, "KeyId", "KeyName"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.LocationGroup)
    @Html.DropDownListFor(m => m.Project.LocationGroup, new SelectList(Model.Locationgroups, "Id", "Name"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.PayrollState)
    @Html.DropDownListFor(m => m.Project.PayrollState, new SelectList(Model.PayrollStates, "Id", "Name"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.SalesPerson)
    @Html.DropDownListFor(m => m.Project.SalesPerson, new SelectList(Model.SalesPersons, "Id", "Name"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.ProjectCategory)
    @Html.DropDownListFor(m => m.Project.ProjectCategory, new SelectList(Model.ProjectCategories, "KeyId", "KeyName"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.ProjectType)
    @Html.DropDownListFor(m => m.Project.ProjectType, new SelectList(Model.ProjectTypes, "KeyId", "KeyName"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.SubDomain)
    @Html.DropDownListFor(m => m.Project.SubDomain, new SelectList(Model.SubDomains, "Id", "Name"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.TimesheetRepresentative)
    @Html.DropDownListFor(m => m.Project.TimesheetRepresentative, new SelectList(Model.TimesheetRepresentatives, "Id", "Name"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.ClientInvoiceGroup)
    @Html.DropDownListFor(m => m.Project.ClientInvoiceGroup, new SelectList(Model.ClientInvoiceGroups, "KeyId", "KeyName"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.TimesheetType)
    @Html.DropDownListFor(m => m.Project.TimesheetType, new SelectList(Model.TimesheetTypes, "KeyId", "KeyName"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.IsVmsTimesheet)
    @Html.TextBoxFor(m => m.Project.IsVmsTimesheet)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.PracticeType)
    @Html.DropDownListFor(m => m.Project.PracticeType, new SelectList(Model.PracticeTypes, "KeyId", "KeyName"), new { @class = "form-group" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Project.Recruiter)
    @Html.DropDownListFor(m => m.Project.Recruiter, new SelectList(Model.Recruiters, "Id", "Name"), new { @class = "form-group" })
</div>








